# 🚨 PDF Version [here](https://github.com/jasmarc/Resume/blob/master/Marcell,%20Jason%20-%20Resume.pdf?raw=true) 🚨

----------

{{ common.name.first }} {{ common.name.last }}  
[{{ common.email }}](mailto:{{ common.email }})  
[{{ common.website }}]({{ common.website }})  

Experience:
-----------

{% for job in experience %}
- **{{ job.company }}, {{ job.location }}**  
*{{ job.title }} - {{ job.date }}*  
  {% for point in job.points %}
    - {{ point }}
  {% endfor %}
{% endfor %}


Skills:
-----------

### AI / ML:
  * {{ skills.ai_ml | join(', ') }}

### Languages:
  * {{ skills.languages | join(', ') }}

### Infrastructure:
  * {{ skills.infrastructure | join(', ') }}

### Systems Engineering:
  * {{ skills.systems | join(', ') }}

Certifications:
--------------

{% for cert in common.certifications %}
  * {{ cert }}
{% endfor %}

Education:
----------

{% for edu in common.education %}
**{{ edu.institution }}**  
{{ edu.degree }} {{ edu.date }}
{% endfor %}
